/* General resets and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header, footer {
  align-items: stretch;
  width: 100%;
  padding: 2vw; /* Adjust padding to be relative to the viewport width */
  background-color: var(--header-background-color);
  color: white;
  text-align: center;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2vw;
  line-height: 2.1;
  color: #ffd07d;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1vw 0;
}

nav ul li a {
  color: #61dafb;
  text-decoration: none;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #61dafb;
  color: #20232a;
  transform: scale(1.1);
}

footer {
  margin-top: auto;
  padding: 2vw; /* Responsive padding based on viewport width */
  background-color: var(--header-background-color);
  color: white;
  text-align: center;
  box-shadow: 0 -0.2vw 0.4vw rgba(0, 0, 0, 0.1);
}

.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 71vh;
  justify-content: center;
}

.profile-picture img {
  width: 30vw; /* Scale width based on viewport width */
  height: 30vw; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 10%;
  margin-left: 5vw;
}

.TextBlock {
  width: 60%;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  transform: translateY(5vh);
  margin-left: 8vw;
}

.TextBlock h1, h2, h5 {
  margin: 1vw 0;
}

.TextBlock h1 {
  font-size: 2vw;
  opacity: 0.8;
  color: #baf5ff;
}

.TextBlock h2 {
  font-size: 6vw;
  color: #00D1FF;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.TextBlock h2 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #fff;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}

.TextBlock h5 {
  font-size: 1.5vw;
  color: #baf5ff;
}

.social-images {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 6vw;
}

.social-images img {
  width: 5vw;
  height: 2.5vw;
  margin-right: 1vw;
  border-radius: 10%;
}

main {
  padding-bottom: 6vw; /* More than the height of the footer */
  min-height: calc(100vh - 6vw); /* Adjust based on header and footer height */
}

nav ul li a.active {
  font-weight: bold;
  color: blue;
  border-bottom: 0.2vw solid blue; /* Underline thickness also scales */
}