/* General resets and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

header, footer {
  width: 100%;
  padding: 2vw;
  background-color: #242424;
  color: white;
  text-align: center;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1vw 0;
}

nav ul li a {
  color: #61dafb;
  text-decoration: none;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #61dafb;
  color: #20232a;
  transform: scale(1.1);
}

footer {
  margin-top: auto;
  padding: 2vw;
  background-color: #20232a;
  color: white;
  text-align: center;
  box-shadow: 0 -0.2vw 0.4vw rgba(0, 0, 0, 0.1);
}

.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 71vh;
}

.profile-picture img {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 10%;
  margin-left: 5vw;
}

.TextBlock {
  width: 60%;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 8vw;
}

/* Typing animation keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

/* Base styling for typing text */
.typing-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #fff;
  width: 0;
  animation: typing 3s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
}

/* First line: "Hello," */
.typing-text:nth-child(1) {
  font-size: 2vw;
  color: #baf5ff;
  animation-delay: 0s;
}

/* Second line: "I'm Hudson" */
.typing-text:nth-child(2) {
  font-size: 6vw;
  color: #00D1FF;
  animation-delay: 3.5s;
}

/* Third line: "Computer Science @ Northeastern" */
.typing-text:nth-child(3) {
  font-size: 1.5vw;
  color: #baf5ff;
  animation-delay: 7s;
}

.social-images {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 6vw;
}

.social-images img {
  width: 5vw;
  height: 2.5vw;
  margin-right: 1vw;
  border-radius: 10%;
}

main {
  padding-bottom: 6vw;
  min-height: calc(100vh - 6vw);
}

nav ul li a.active {
  font-weight: bold;
  color: blue;
  border-bottom: 0.2vw solid blue;
}
