.card {
    background-color: #333;
    color: var(--text-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  

.card label {
    font-weight: bold;
    color: #ffd07d; /* Brighter blue for labels to stand out */
    margin-right: 5px;
    width: 100px; /* Fixed width for alignment */
}

