:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #20232a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #00bcd4; /* Teal */
  --secondary-color: #006064; /* Dark Teal */
  --background-color: #f0f4f8; /* Light Gray */
  --text-color: #263238; /* Dark Gray */
  --accent-color: #ffab00; /* Amber */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}



button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
    --link-hover-color: #747bff;
    --button-bg-color: #f9f9f9;
  }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #cfd8dc;
    --background-color: #263238;
    --link-hover-color: #82b1ff;
    --button-bg-color: #37474f;
  }
}
